$mainColor: whitesmoke;
$navSection: rgb(105, 201, 105);
$searchSection: rgb(0, 69, 158);
$carouselSection: purple;
$infoSection:Orange; 

html {

    box-sizing: border-box;    
    font-size: 20px;
    
}
    
*, *:before, *:after {
    
    margin: 0;    
    padding: 0;    
    box-sizing: inherit;
    
}

body{
    background-color: $mainColor;
}
.nav-link {
font-family: 'Satisfy', cursive;
font-size: 25px;
}
// .nav-link:hover{
//     background-color: rgb(105, 201, 105);
// }
.navbar-light .navbar-nav  .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:red;
}
.navbar-light .navbar-nav .nav-link

.captions > h1 {
    margin-top: 5%;
    font-family: 'Courgette', cursive;
}
.carousel-item .active img{
    background-color: rgba(255,255,255, .3);
}

.carousel-caption{
    margin-bottom: 25%;
    background-color: rgba(255,255,255, .1);

}
.findings{
    margin-left: 30%;
    margin-top: 5%;
}
.inSearch {
    margin-top: 5%;
    font-size: 25px;
    border-style: solid;
    border-width: 40px;
    border-color:$searchSection;
    padding: 3%;

}
#searchBox{
    width:50%;
    margin-left: 5%;
    
}

#edamam-badge{
    margin-left: 55%;
    margin-top: 1%;
}
.card {
    margin: 45px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(222, 222, 222, 0.5);
}

.card:hover {
    background: linear-gradient(
    to right,
    rgba(233, 233, 244, 0.4),
    rgba(222, 222, 222, 0.5)
  );
  box-shadow: 4px 7px 10px rgba(90, 90, 90, 0.8);
}

.groups {
    background-color: rgba(0, 0, 0, 0.2);
}
#Group_foods{
    margin-left: 15%;
}
#Food_Group{
    background-color: $navSection;
}

.move {
    margin-left: 8%;
    width: 85%;
}

.carousel-control-next, .carousel-control-prev {
    width:5%;
    
}
.Health_ben {
   margin-top: 10%;
   border-width: 35Px;
   border-color: $infoSection;
   border-style:solid;
}

.up {
    margin-left: 35%;
    padding: 5%;
}

@media only screen and (min-width: 992px){
    #content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #edamam-badge{
        margin-left: 80%;
        margin-top: 1%;
    }
    #Group_foods{
        margin-left: 30%;
    }
    .Health_ben {
        margin-left: 8%;
        margin-top: 5%;
    }
    .Health_ben >h1 {
        margin-left: 20%;
    }
    .up {
        margin-left: 50%;
        margin-top: 8%;
    }
    .inSearch {
        margin-top: 5%;
        font-size: 25px;
        margin-left: 7%;
        border-style: solid;
        border-width: 40px;
        border-color:$searchSection;
        padding: 3%;
    
    }
    .findings {
        margin-bottom: 5%;
        justify-content: center;
    }
    .listings {
        font-size: large;
    }
    .up{
        margin-left: 45%;
        padding: 3%;
    }
    .captions > h1 {
        font-size: 85px;
        margin-bottom: 5%;
        font-family: 'Courgette', cursive;
    }
    #Group_foods{
        margin-left: 32%;
    }
    .findings{
        margin-left: 32%;
        margin-top: 3%;
    }
    .nav-link {
        font-family: 'Satisfy', cursive;
        font-size: 35px;
        padding: 2%;
        }
}