html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: whitesmoke;
}

h1 {
  font-family: 'Courgette', cursive;
}

.nav-link {
  font-size: 25px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: red;
}

.navbar-light .navbar-nav .nav-link
.carousel-item .active img {
  background-color: rgba(255, 255, 255, 0.3);
}

.carousel-caption {
  margin-bottom: 40%;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Courgette', cursive;
}

.captions > h1 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Courgette', cursive;
}

.findings {
  margin-left: 30%;
  margin-top: 5%;
}

.inSearch {
  margin-top: 5%;
  font-size: 25px;
  border-style: solid;
  border-width: 35px;
  border-color: #00459e;
  padding: 2%;
}

#searchBox {
  width: 45%;
  margin-left: 5%;
}

#edamam-badge {
  margin-left: 5%;
  margin-top: 1%;
}

.card {
  margin: 20px;
  margin-left: 0%;
  -webkit-box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(222, 222, 222, 0.5);
}

.main {
  padding: 0;
}

.mains {
  width: 49%;
  margin-left: 20%;
}

.card-body > h3 {
  width: 100%;
  font-size: 0.5em;
  margin-top: 8%;
  margin-left: 30%;
}

#imgCount {
  margin-left: 38%;
  color: #69c969;
  font-size: 30px;
}

.card:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(233, 233, 244, 0.4)), to(rgba(222, 222, 222, 0.5)));
  background: linear-gradient(to right, rgba(233, 233, 244, 0.4), rgba(222, 222, 222, 0.5));
  -webkit-box-shadow: 4px 7px 10px rgba(90, 90, 90, 0.8);
          box-shadow: 4px 7px 10px rgba(90, 90, 90, 0.8);
}

.groups {
  background-color: rgba(0, 0, 0, 0.2);
}

#Group_foods {
  margin-left: 20%;
  margin-top: 10%;
}

#Food_Group {
  background-color: #69c969;
}

.move {
  margin-left: 8%;
  width: 85%;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.Health_ben {
  margin-top: 10%;
  border-width: 35Px;
  border-color: Orange;
  border-style: solid;
}

.up {
  margin-left: 35%;
  padding: 5%;
}

.up a {
  color: #960dfd;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .carousel-caption {
    margin-bottom: 60%;
  }
  h1 {
    font-family: 'Courgette', cursive;
  }
  #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #edamam-badge {
    margin-left: 80%;
    margin-top: 1%;
  }
  .end {
    background-color: rgba(223, 225, 226, 0.384);
    padding: 5%;
  }
  #Group_foods {
    margin-left: 30%;
  }
  #Food_Group {
    margin-left: 8%;
  }
  .Health_ben {
    margin-left: 8%;
    margin-top: 10%;
  }
  .Health_ben > h1 {
    margin-left: 20%;
  }
  .up {
    margin-left: 60%;
    margin-top: 8%;
  }
  .input-group {
    width: 51%;
    margin-top: 5%;
    margin-left: 23%;
  }
  .inSearch {
    margin-top: 5%;
    font-size: 25px;
    margin-left: 7%;
    border-style: solid;
    border-width: 40px;
    border-color: #00459e;
    padding: 3%;
  }
  .findings {
    margin-bottom: 5%;
    margin-left: 35%;
    margin-top: 3%;
  }
  .listings {
    font-size: large;
  }
  .up {
    margin-left: 42%;
    margin-right: 25%;
    margin-bottom: 5%;
    padding: 1%;
    font-size: 1.5em;
  }
  .up a {
    color: #960dfd;
    text-decoration: none;
  }
  .captions > h1 {
    font-size: 85px;
    margin-bottom: 3%;
    font-family: 'Courgette', cursive;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }
  #Group_foods {
    margin-left: 32%;
    margin-top: 10%;
    margin-bottom: 3%;
  }
  .nav-link {
    font-size: 25px;
  }
  .mains {
    width: 40%;
    margin-left: 25%;
  }
  .card-body > h3 {
    width: 60%;
    font-size: 1em;
    margin-top: 3%;
    margin-left: 23%;
  }
  #imgCount {
    margin-left: 35%;
    color: #69c969;
    font-size: 40px;
  }
}
/*# sourceMappingURL=styles.css.map */